PORT=27017 #Port de base pour MongoDB
DATABASE_USERNAME='' #Nom d'utilisateur de la base de données
PASSWORD='' #Mot de passe de la base de données
HOST='localhost' #Hôte de la base de données
DATABASENAME='Changeme' #Nom de la base de données
TOKEN_SECRET= "55N24hppGUeHw4WnvZ4p6C8" #Clé secrète pour les tokens (à changer obligatoirement) https://www.motdepasse.xyz/
CURRENT_ENVIRONMENT=local
